* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(161, 166, 238, 0.5);

}

.container {
    background-color: white;
    width: 800px;
    height: 600px;

    margin: 15px;
    padding: 10px;
    justify-content: center;

    position: relative;
    left: 20%;

    align-content: center;
    
    -webkit-box-shadow: 1px 0px 10px 3px rgba(89,89,89,0.5);
    -moz-box-shadow: 1px 0px 10px 3px rgba(89,89,89,0.5);
    box-shadow: 1px 0px 10px 3px rgba(89,89,89,0.5);

}

p {
    color: black;
}