* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

.contenedor {
    height: 800px;
    width: 100%;
  }
  
  .elemento1 {
    position: sticky;
    top: 20px;
    height: 50px;
    width: 100%;
    background-color: red;
  }
  
  .elemento2 {
    margin-top: 100px;
    height: 1500px;
    width: 100%;
    background-color: green;
  }
      